[Unit]
Description=Mounting HDD drives
Before=nfs-mountd.service

[Service]
Type=oneshot
User=jonny
ExecStart=-/bin/sh -c "/path/to/mountNFS.sh"

[Install]
WantedBy=multi-user.target

# Why a service and not a crontab or fstab auto mount?
# I don't like when a system hangs when it's running headless, after a reboot.
# Crontabs are good, but just keeping some clutter from reaching the mail,
# and this only needs to run after boot.
# 
# Move the service to the below directory and reload the daemon.
# mv mount_service.service /etc/systemd/system
# systemctl daemon-reload
